extends ../../layouts/default.pug

block main
  h1(class="mb-4") Phân quyền

  div(class="text-right")
    button(
      type="submit",
      class="btn btn-primary mb-3",
      id="button-submit"
    ) Cập nhật

  table(class="table table-hover table-sm table-bordered")
    thead
        tr.bg-secondary
            th Tính năng
            th(class="text-center") Quản trị viên
            th(class="text-center") Quản lý nội dung


    tbody
      tr
        td(colspan="3").bg-light.font-weight-bold
          b Danh mục sản phẩm

      tr(data-name="products-category_view")
        td Xem
        each item in records
          td.p-2
            div(class="d-flex justify-content-center align-items-center")
              input(type="checkbox" class="form-check-input custom-checkbox")

      tr(data-name="products-category_create")
        td Thêm mới
        each item in records
          td.p-2
            div(class="d-flex justify-content-center align-items-center")
              input(type="checkbox" class="form-check-input custom-checkbox")

      tr(data-name="products-category_edit")
        td Chỉnh sửa
        each item in records
          td.p-2
            div(class="d-flex justify-content-center align-items-center")
              input(type="checkbox" class="form-check-input custom-checkbox")

      tr.text-danger.font-weight-bold(data-name="products-category_delete")
        td Xóa
        each item in records
          td.p-2
            div(class="d-flex justify-content-center align-items-center")
              input(type="checkbox" class="form-check-input custom-checkbox")
